@use '../../style/mixins' as *;
@use '../../style/variables' as *;
.anime {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    gap: 20px;
  }

  &__control-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 10px;
    gap: 10px;

    @include respond(tablet) {
      grid-template-columns: repeat(4, 1fr);
      padding: 15px;
    }

    @include respond(desktop) {
      grid-template-columns: repeat(5, 1fr);
      padding: 20px;
    }
  }

  &__button {
    width: auto;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid #f47521;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ff833a;
      box-shadow: 0 4px 10px rgba(244, 117, 33, 0.5);
      transform: translateY(-2px);
    }

    &:active {
      transform: scale(0.95);
    }

    &--active {
      background-color: #f47521;
      color: #222;
      // box-shadow: 0 4px 10px rgba(244, 117, 33, 0.5);
    }
  }
}
