.pagination-nav {
  margin-top: 2rem;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      background-color: #222;
      color: #fff;
      border-radius: 6px;
      text-decoration: none;
      transition: background-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: #ff640a;
      }
    }
  }

  .break .pagination__ellipsis {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: #fff;
    user-select: none;
  }
}

.pagination .active a {
  background-color: #ff640a;
  color: #222;
}
