.anime-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  gap: 10px;

  &__img-container {
    position: relative;
    height: 480px;

    @media (max-width: 1980px) {
      height: 350px;
    }
  }

  &__img {
    flex: 1;
    width: 100%;
    height: auto;
  }
}
