.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  gap: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__main {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    padding: 0 1rem;
  }
}
