.home-page {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__main {
    padding: 0 1rem;
    margin: 0 auto;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
