.episode-server {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__header {
    background-color: rgb(3, 8, 82);
    width: 245px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.server {
  display: flex;
  gap: 10px;
}
