.anime-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 280px;
  padding: 10px;
  gap: 10px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;

  &:hover &--hover {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &--hover {
    display: none;
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  &__img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;
    border-radius: 8px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.anime-card--hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.anime-card--hover > * {
  position: relative;
  z-index: 2;
}
