@use '../../../style/mixins' as *;

.hero-trending {
  position: relative;
  isolation: isolate;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: -72px;
  }

  @media (min-width: 1024px) {
    margin-top: -96px;
  }

  @media (min-width: 1280px) and (min-height: 1081px) {
    margin-top: -140px;
  }

  @media (min-width: 1536px) and (min-height: 1081px) {
    margin-top: -200px;
  }

  @include respond(laptop) {
    margin-top: -64px;
  }

  @include respond(laptop-compact) {
    margin-top: -48px;
  }
}
