@use './variables' as *;
@use './typography' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease,
    opacity 0.3s ease,
    box-shadow 0.3s ease;
}

body,
html {
  height: 100%;
  background-color: $color-bg;
  color: $color-text-primary;
  margin: 0;
  @include body-text;
  box-sizing: border-box;
}

h1,
h3 {
  margin: 0;
}

p {
  @include body-text;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #dadada;
  cursor: pointer;
}

menu {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // height: 100vh;
}

.main {
  flex-grow: 1;
}
