.anime-details {
  &__watch {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-bio {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.video-player {
  display: flex;
  gap: 20px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.seasons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(16.66% - 1rem);
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
  }
}
