.anime-details {
  &__watch {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-player {
      position: relative;
    }

    &-bio {
      display: flex;
      gap: 20px;
    }
  }
}

.seasons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(16.66% - 1rem);
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
  }
}

.player {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 500px;
  background-color: grey;
}
