.anime-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, 280px);
    gap: 20px;
    row-gap: 30px;
  }
}
