.skeleton {
  pointer-events: none;
  user-select: none;

  .skeleton__block,
  .skeleton__line {
    background: linear-gradient(90deg, #eeeeee 25%, #dddddd 37%, #eeeeee 63%);
    animation: skeleton-loading 1.2s infinite ease-in-out;
    background-size: 400% 100%;
    border-radius: 4px;
  }

  .anime-card__img-container.skeleton__block {
    width: 100%;
    aspect-ratio: 2/3;
  }

  .anime-card__title.skeleton__line {
    width: 80%;
    height: 1.2rem;
    margin-top: 0.5rem;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
